@charset "utf-8";

@import url("./camaleao_variables.css");

@import url("./camaleao_icon.css");
@import url("./camaleao_form.css");
@import url("./camaleao_transition.css");
@import url("./camaleao_layout.css");
@import url("./camaleao_parts.css");



html.-clipped {
  overflow: hidden;
}

/* -------------------- 
 taglist
 ---------------------*/
.ca-taglist>span {
  margin-right: 3px;
  padding-bottom: 20px;
}