@charset "utf-8";

/* -------------------- 
  fade
 ---------------------*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
  opacity: 1;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* -------------------- 
   modal
  ---------------------*/
.modal-enter-active,
.modal-leave-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.4s ease;
}

.modal-enter,
.modal-leave-to {
  opacity: 0;
  transform: translateY(150px);
  transition: all 0.3s ease-in;
}

/* -------------------- 
   drilldown
  ---------------------*/
.drilldown-enter-active,
.drilldown-leave-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.4s ease;
}

.drilldown-enter,
.drilldown-leave-to {
  opacity: 0;
  transform: translateX(150px);
  transition: all 0.3s ease-in;
}

/* -------------------- 
   toast
  ---------------------*/
.toast-enter-active,
.toast-leave-active {
  opacity: 1;
  transform: translateY(0);
  transition: 0.2s all cubic-bezier(0.39, 0.575, 0.565, 1);
}

.toast-enter {
  opacity: 0;
  transform: translateY(-100px);
  transition: 0.4s all cubic-bezier(0.39, 0.575, 0.565, 1);
}

.toast-leave-to {
  opacity: 0;
}