@charset "utf-8";

@import url("./camaleao_variables.css");

@import url("./camaleao_icon.css");

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html.-clipped {
  overflow: hidden;
}

/* -------------------- 
 taglist
 ---------------------*/
.ca-taglist > span {
  margin-right: 3px;
  padding-bottom: 20px;
}

/* -------------------- 
 inputline
 ---------------------*/
.ca-inputline {
  display: flex;
  align-items: flex-start;
  padding-bottom: 20px;
}

.ca-inputline:last-child {
  padding-bottom: 0;
}

.ca-inputline > * {
  margin-right: 14px;
  margin-bottom: 10px;
}

/* -------------------- 
 transition fade
 ---------------------*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
  opacity: 1;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* -------------------- 
 transition modal
 ---------------------*/
.modal-enter-active,
.modal-leave-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.6s ease;
}

.modal-enter,
.modal-leave-to {
  opacity: 0;
  transform: translateY(150px);
  transition: all 0.3s ease-in;
}

/* -------------------- 
 required, passed
 ---------------------*/
.formmark-required {
  font-size: 10px;
  color: var(--danger);
  padding: 0;
  margin: 0;
  line-height: 1;
  text-align: right;
}

.formmark-required::after {
  content: '＊';
  display: block;

  /* 日本語 */
  /* content: '必須';
  white-space: nowrap;
  background-color: #ff4488;
  color: #fff;
  padding: 2px 4px;
  font-size: 9px;
  border-radius: 3px; */
}

.formmark-passed {
  display: block;
  transform: rotate(45deg);
  height: 10px;
  width: 5px;
  border-bottom: 2px solid var(--ok);
  border-right: 2px solid var(--ok);
}

/* -------------------- 
 editablelabel
 ---------------------*/
.ca-input-editablelabel {
  border: none;
  color: var(--chat-color-dark);
  background-color: transparent;
}

/* -------------------- 
 textlink
 ---------------------*/
.textlink {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  font-size: var(--fontsize-medium);
  line-height: 1;

  /* color: var(--chat-color-dark);
  background-color: #fff;
  border-radius: 6px;
  padding: 6px 20px; */
}

.textlink ion-icon {
  color: inherit;
}
