@charset "utf-8";

/* -------------------- 
 textlink
 ---------------------*/
.textlink {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  font-size: var(--fontsize-medium);
  line-height: 1;

  /* color: var(--chat-color-dark);
  background-color: #fff;
  border-radius: 6px;
  padding: 6px 20px; */
}

.textlink ion-icon {
  color: inherit;
}

/* -------------------- 
 toast
 ---------------------*/
.toast-holder {
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  z-index: 110;
}