@charset "utf-8";

:root {
  --positive: #ecde92;
  --positive-hover: #d9cb7e;
  --danger: #ecb092;
  --danger-hover: #d79472;
  --ok: #b2e3c8;
  --ok-hover: #97c8ad;
  --dark: #666;
  --white: #fff;

  /* font size */
  --fontsize-small: 12px;
  --fontsize-normal: 14px;
  --fontsize-medium: 16px;
  --fontsize-large: 22px;

  /* shadow */
  --form-shadow: 0 0 1px 1px rgba(51, 51, 51, 0.1);

  /* form heading height */
  --form-heading-height: 25px;

  /* form radius */
  --form-radius: 4px;

  /* form border color */
  --form-border-color: solid 1px #ccc;

  /* ------------------ */
  /* input */
  /* ------------------ */
  --form-input-fontsize-normal: 16px;
  --form-input-fontsize-large: 18px;

  /* form height */
  --form-input-height: 38px;
  --form-input-height-small: 28px;
  --form-input-height-large: 48px;

  /* form width */
  --form-input-width-small: 100px;
  --form-input-width-normal: 160px;
  --form-input-width-medium: 220px;
  --form-input-width-large: 300px;

  /* ------------------ */
  /* textarea */
  /* ------------------ */
  --form-textarea-width-small: 200px;
  --form-textarea-width-normal: 400px;
  --form-textarea-width-medium: 600px;
  --form-textarea-width-large: 100%;

  /* ------------------ */
  /* tag */
  /* ------------------ */
  --tag-padding-small: 4px 8px;
  --tag-padding-normal: 8px 12px;
  --tag-padding-large: 16px 120px;

  /* tag fontsize */
  --tag-fontsize-small: 12px;
  --tag-fontsize-normal: 14px;
  --tag-fontsize-large: 18px;

  /* tag radius */
  --tag-radius-small: 3px;
  --tag-radius-normal: 10px;
  --tag-radius-large: 10px;

  /* tag letter-spacing */
  --tag-letter-spacing: 0.05em;

  /* ------------------ */
  /* button */
  /* ------------------ */
  --button-padding: 0px 10px;
  --button-radius: 4px;
  --button-shadow: 0 0 2px 0px rgba(51, 51, 51, 0.1);
  --button-border: solid 1px #ccc;
  --button-text-shadow: 0 0 1px rgba(30, 30, 30, 0.2);
  --button-bg-color: #fff;
  --button-label-color: #666;
  --button-letter-spacing: 0.05em;
  --button-hover-filter: brightness(96%);
  --button-active-filter: brightness(94%);

  --button-border-positive: solid 1px #ccc;
  --button-border-danger: solid 1px #ccc;

  /* button height */
  --button-height-small: 28px;
  --button-height-normal: 38px;
  --button-height-large: 48px;

  /* button width */
  --button-width-small: 140px;
  --button-width-large: 280px;

  /* ------------------ */
  /* checkbox */
  /* ------------------ */
  --form-checkbox-size: 26px;

  /* ------------------ */
  /* radio */
  /* ------------------ */
  --form-radio-size: 24px;

  /* ------------------ */
  /* icon */
  /* ------------------ */
  --icon-size-small: 20px;
  --icon-size-normal: 34px;
  --icon-size-large: 44px;

  /* ------------------ */
  /* switch */
  /* ------------------ */
  --switch-size-small: 20px;
  --switch-size-normal: 30px;
  --switch-size-large: 44px;

  /* ------------------ */
  /* badge */
  /* ------------------ */
  --badge-size: 16px;
  --badge-bg-color: red;
  --badge-text-color: #fff;
  --badge-shadow: 0 0 0 1px #fff;

  /* mixin */
  --sample-mixin: {
    border: solid 1px #ff0000;
  }

  /* radio */
  --icon-size: 24px;

  /* ------------------ */
  /* modal-bg */
  /* ------------------ */
  --modal-bg-color: rgba(255, 255, 255, 0.9);
  --modal-bg-transition: all 0.2s ease 0s;
  --modal-bg-img: url('../img/subtle-dark-vertical.png');

  /* ------------------ */
  /* modalbody */
  /* ------------------ */
  --modalbody-width: 800px;
  --modalbody-height: 90vh;
  --modalbody-border: solid 2px #d5ca91;

  --modalbody-bg-img: url('../img/subtle-dark-vertical.png');
  --modalbody-bg-color: #fff;
  --modalbody-radius: 8px;
  --modalbody-header-bgcolor: #fff;
  --modalbody-header-padding: 6px 14px 6px 20px;
  --modalbody-header-shadow: 0 0 2px 0px rgba(21, 21, 21, 0.4);
  --modalbody-header-height: 60px;
  --modalbody-header-color: #c8bd6f;
  /* --modalbody-header-bg-img: url('../img/subtle-dark-vertical.png'); */
  --modalbody-footer-padding: 20px 30px 20px 10px;
  --modalbody-footer-bgcolor: #fff;
  --modalbody-footer-shadow: 0 0 2px 0px rgba(21, 21, 21, 0.4);

  /* ------------------ */
  /* modalview */
  /* ------------------ */
  --modalview-header-height: 40px;
  --modalview-header-bg-img: none;
  --modalview-header-shadow: 0 0 2px 0px rgba(21, 21, 21, 0.4);
  --modalview-header-bgcolor: #ddd;
  --modalview-header-color: #fff;
  --modalview-header-fontsize: 16px;
  --modalview-header-action-fontsize: 14px;
  --modalview-header-padding: 0 10px;

  --modalview-bg-color: #eee;
  --modalview-radius: 0;
  --modalview-border: none;

  --modalview-body-padding: 20px;

  /* ------------------ */
  /* sidemenu */
  /* ------------------ */
  --modal-sidemenu-bg-color: rgba(21, 21, 21, 0.6);
  --modal-sidemenu-width: 70%;
  --modal-sidemenu-scroll-bg-color: #fff;
  --modal-sidemenu-padding: 20px;

  /* ------------------ */
  /* toast */
  /* ------------------ */
  --toast-radius: 16px;
  --toast-bg-color: #999;
  --toast-shadow: 0 0 2px 0px rgba(255, 255, 255, 0.9);
  --toast-text-color: #eee;
  --toast-padding: 6px 10px;
  --toast-fontsize: 12px;
  --toast-border: none;
}
