@charset "utf-8";

@import url("./reset.css");

@import url("./camaleao_variables.css");

@import url("./camaleao_icon.css");

@import url("./chat.css");

* {
  box-sizing: border-box;
}

/* -------------------- 
 mobileview
 ---------------------*/
.appviews {
  display: flex;
  flex-wrap: wrap;
}

.mobileview {
  width: 375px;
  height: 667px;
  margin: 20px;
}
