@charset "utf-8";

@import './reset.css';

@import './camaleao_variables.css';

@import './camaleao_icon.css';

@import './chat/chat.scss';

* {
  box-sizing: border-box;
}

/* -------------------- 
 mobileview
 ---------------------*/
.appviews {
  display: flex;
  flex-wrap: wrap;
}

.mobileview {
  width: 375px;
  height: 667px;
  margin: 20px;
}

.mobileview-des {
  margin: 20px 0 0 0;
}