@charset "utf-8";

:root {
  --chat-base-color2: #d2bd28;
  --chat-base-color: #d9c84e;
  --chat-bg-color: #fbecad;
  --chat-icon-size: 30px;
  --chat-comment-color: #666;
  --chat-color-red: #ff3366;
}

@import './mixins.scss';
@import './variables.scss';

.app {
  position: relative;
  display: grid;
  grid-template-rows: min-content auto min-content;
  overflow: hidden;
  padding: 0;
  background-color: var(--chat-bg-color);
  background-image: url('/img/subtle-dark-vertical.png');
  height: 100%;
}

.app input {
  outline: none;
  color: #666;
}

/* -------------------- 
 parts
 ---------------------*/
.chat-usericon {
  width: var(--chat-icon-size);
  height: var(--chat-icon-size);
  border-radius: calc(var(--chat-icon-size) / 2);
}
